policy:

{% for entry in configxls.ansible_facts.spreadsheet_FirewallPolicies %}
    - name: {{ entry.Name }}
      tag_name: {{ entry.tag_name }}
      description: {{ entry.Description }}
      sourcezone: [{{ entry.SourceZone }}]
      sourceip: [{{ entry.SourceIP }}]
      destinationzone: [{{ entry.DestinationZone }}]
      destinationip: [{{ entry.DestinationIP }}]
      service: [{{ entry.Service }}]
      application: [{{ entry.Application }}]
{% endfor %}
