securitypolicy:

{% for entry in configxls.ansible_facts.spreadsheet_FirewallPolicies %}
    - operation: {{ entry.Operation }}
      name: {{ entry.Name }}
      description: {{ entry.Description }}
      device_group: {{ entry.Devicegroup }}
      rulebase: {{ entry.RuleBase }}-rulebase
      tag_name: {{ entry.Tags }}
      rule_type: {{ entry.Type }}
      source_zone: [{{ entry.SourceZone }}]
      source_ip: [{{ entry.SourceIP }}]
      source_user: [{{ entry.SourceUser }}]
      hip_profiles: [{{ entry.HIPProfile }}]
      destination_zone: [{{ entry.DestinationZone }}]
      destination_ip: [{{ entry.DestinationIP }}]
      category: [ {{ entry.URLCategory }}]
      service: [{{ entry.Service }}]
      application: [{{ entry.Application }}]
      action: {{ entry.Action }}
      group_profile: {{ entry.SecurityProfile }}
      disabled: {{ entry.Disabled }}
      location: {{ entry.Location }}
      existing_rule: {{ entry.ExistingRule }}
      log_start: {{ entry.LogStart }}
      log_end: {{ entry.LogEnd }}
      log_setting: {{ entry.LogSetting }}
{% endfor %}